@use './vars' as *;

html, body {
    overflow: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #ccc;

    color-scheme: dark;

    width: 100vw;
    height: 100vh;
    margin: 0;

    line-height: 1.3;
    letter-spacing: 0.007em;
    word-spacing: 0.02em;

    scroll-behavior: smooth;

    position: absolute;
    top: 0;
    left: 0;

    font-size: 18px;
}

body > div:not([hidden]) {
    width: 100%;
    display: flex;
    flex-direction: column;
}

* {
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    html, body {
        scroll-behavior: auto;
    }
}

h1 {
    color: #fff;
}

h2 {
    color: #eee;
}

h3 {
    color: #ddd;
}

p {
    margin: .6em 0;
}

main, article, footer {
    > :first-child:is(h1, h2, h3, h4, h5, h6) {
        margin-top: 0;
    }
}

main {
    // this set of rules allows the game image to go behind the rest of the content
    position: relative;
    z-index: 0;
}

:root {
    --link-txt-color-noncurrent-normal: #{hsl($theme-hue, 100%, 68%)};
    --link-udl-color-noncurrent-normal: #{hsla($theme-hue, 100%, 40%, 0%)};

    --link-txt-color-noncurrent-hover: #{hsl($theme-hue, 100%, 80%)};
    --link-udl-color-noncurrent-hover: #{hsla($theme-hue, 100%, 60%, 90%)};

    --link-txt-color-current-normal: #{hsl($theme-hue, 100%, 85%)};
    --link-udl-color-current-normal: #{hsla($theme-hue, 100%, 70%, 0%)};

    --link-txt-color-current-hover: #{hsl($theme-hue, 100%, 95%)};
    --link-udl-color-current-hover: #{hsla($theme-hue, 100%, 70%, 90%)};
}

a[data-no-link-style] {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

a:not([data-no-link-style]) {
    &, * {
        transition-property: color, text-decoration-color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.19, 0.01, 0.23, 0.73);

        text-decoration: underline;
        text-decoration-thickness: 0.1em;

        color: var(--link-txt-color-noncurrent-normal);
        text-decoration-color: var(--link-udl-color-noncurrent-normal);
    }
    &:hover {
        &, * {
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(0.13, 0.7, 0.52, 1);

            color: var(--link-txt-color-noncurrent-hover);
            text-decoration-color: var(--link-udl-color-noncurrent-hover);
        }
    }
    &[aria-current="page"] {
        &, * {
            color: var(--link-txt-color-current-normal);
            text-decoration-color: var(--link-udl-color-current-normal);
        }
        &:hover {
            &, * {
                color: var(--link-txt-color-current-hover);
                text-decoration-color: var(--link-udl-color-current-hover);
            }
        }
    }
}

pre, code {
    color: #ddd;
    font-family: var(--code-font);
    font-weight: 600;
    font-size: 0.9em;
    background: $codeBG;
}

code {
    padding: 0.3em 0.5em 0.2em;
    border-radius: 0.3em;
    position: relative;
    line-height: 1.1;
    code {
        background: none;
    }
}

pre {
    border-radius: 8px;
    padding: 1em;
    margin: 1em 0;
    overflow-x: auto;
    max-height: 75vh;
    overflow-y: auto;
    line-height: 1.45;
    text-align: left;
    code {
        background: none;
    }
    > code {
        padding: 0;
        line-height: unset;
    }
    counter-reset: linenumber;
    backdrop-filter: blur(32px);
    --tooltipBG: #111;
}

main, footer {
    padding: css-min(2vw, 32px) css-min(3vw, 48px);
    width: 100%;
    box-sizing: border-box;
}

article, footer {
    text-wrap: pretty;
}

article, footer > :nth-child(2) {
    max-width: min(55em, calc(90vw - min(3vw, 48px)))
}

div:has(> footer) {
    // ensure footer is always at the bottom of the page, even if the content
    // is very short, while still keeping it below the fold if the content is too long
    position: sticky;
    top: 100%;
    background-color: #000;
}

footer {
    text-align: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    > :first-child {
        font-size: 0.65em;
        flex: 1;
        display:flex;
        justify-content: center;
    }

    > :nth-child(2) {
        min-width: 10em;
    }

    > :last-child {
        padding: 0.5em;
        flex: 1;
        min-width: 96px;
        box-sizing: border-box;
    }
}
